*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 .roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

 body{
  background-color: #F6F8FA;
  font-family: roboto, sans-serif;
 }

 .container{
  background-color: #FFFFFF;
  width: 100%;
  height: 70px;
 }

 header .todo{
  padding: 10px 5px 10px 20px;
 }

 header .todo img{
  vertical-align: middle;
 }

 header .todo span{
  font-size: 2.3rem;
  vertical-align: middle;
  font-family: roboto, sans-serif; 
 }

 .box{
  background-color: #FFFFFF;
  max-width: 780px;
  margin: 40px auto;
  
 }

 .button-box{
  margin-left: 50px;
  padding: 14px;
 }

 button{
  margin: 0px;
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 6px;
  border-style: solid;
  font-family: roboto, sans-serif;

 }

 .task{
  background-color: #3FB0F4;
  border-color: #3FB0F4;
 }

 .section{
  background-color: #FFFFFF;
  color: #D8D7DA;
  border-color: #D8D7DA;
 }
